<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <link rel="stylesheet" href="../CSS/CompanyMainStyles.css">
  <script src="../JS/xLuInclude.js" defer></script>
</head>
<header id="CompanyMain_header" xlu-include-file="LoggedHeader.html"></header>
<body>
<div id="Calendar" xlu-include-file="Calendar_template.html"></div>
<div id="ReservationsList" xlu-include-file="List_template.html"></div>
</body>
</html>
