<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserly - My company</title>
  <link rel="stylesheet" href="../CSS/CompanyMainStyles.css">
  <script src="../JS/LoadComponent.js" defer></script>
</head>
<header id="header" class="Header"></header>
<body>
  <div class="company-profile">
    <img src="../Pictures/UserDefault-icon.png" alt="Company Profile" class="company-logo">
    <span class="company-name">Company Name</span>
  </div>

  <div class="content-wrapper">
    <div class="content-container">
      <div id="Calendar"></div>

      <div class="separator"></div>

      <div id="ReservationsList"></div>
    </div>
  </div>

  <div class="information-container">
    <div class="info-header">
      <img src="../Pictures/Info-icon.png" alt="Information" class="info-icon">
      <span class="info-title">Manage account</span>
    </div>
    <p class="info-description">
      Here you can modify service prices, schedules, account name, business type.
    </p>
  </div>
</body>
<footer id="main_footer"></footer>

<script>
  document.addEventListener('DOMContentLoaded', init);

  function loadTemplate(fileName, element, callback) {
    fetch(fileName)
            .then((res) => {
              if (!res.ok) {
                throw new Error(`Error cargando ${fileName}: ${res.status}`);
              }
              return res.text();
            })
            .then((text) => {
              element.innerHTML = text;
              if (callback) {
                callback();
              }
            })
            .catch((error) => {
              console.error("Error al cargar componente:", error);
            });
  }

  function init() {
    loadTemplate('../HTML-components/LoggedHeader.html', document.getElementById('header'), function() {
      initDropdown();
    });
    loadTemplate('../HTML-components/Footer.html', document.getElementById('main_footer'));
    loadTemplate('../HTML-components/Calendar_template.html', document.getElementById('Calendar'), function() {
      initCalendar();
    });
    loadTemplate('../HTML-components/List_template.html', document.getElementById('ReservationsList'));
  }
</script>

<script src="../JS/CalendarScript.js"></script>
<script src="../JS/LoggedHeaderScript.js"></script>

</html>
