<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserly - Company Name</title>
    <link rel="stylesheet" href="../CSS/CompanyWebsiteStyles.css">
    <script src="../JS/xLuInclude.js" defer></script>
</head>
<body>
<header id="CompanyMain_header" xlu-include-file="LoggedHeader.html"></header>
<div class="company-profile">
    <img src="../Pictures/UserDefault-icon.png" alt="Company Profile" class="company-logo">
    <span class="company-name">Company Name</span>
</div>
<div class="company-details">
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit quam accumsan velit a eleifend, feugiat malesuada sociis sagittis arcu blandit aptent tempus cursus laoreet.

        Elementum nam porta turpis est placerat vel integer, ac libero senectus litora velit sem, eros imperdiet blandit scelerisque malesuada morbi. Fusce sed class leo

        nascetur torquent mi eleifend inceptos lobortis erat, justo nec vitae fames tortor tincidunt sagittis nulla ad id congue, urna blandit ac enim conubia nam donec non platea.

        Ad mollis lectus egestas diam venenatis consequat enim ullamcorper varius rhoncus augue aliquam, pharetra tempor id est fermentum tristique tortor porttitor lacus magna.</p>
    <div class="content-wrapper">
        <div class="content-container">
            <a href="Completar_Reserva.html"><button class="Reserve">Make a reservation</button></a>
        </div>
        <div class="content-container">
            <div id="ServiceList" xlu-include-file="List_template.html"></div>
        </div>
    </div>
</div>
<footer id="main_footer" xlu-include-file="Footer.html"></footer>
</body>
</html>