<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserly - Manage Company</title>
    <link rel="stylesheet" href="../CSS/ManageCompanyStyles.css">
    <script src="../JS/LoadComponent.js" defer></script>
</head>
<body>
<header id="CompanyMain_header"></header>

<div class="main-container">
    <div class="company-profile">
        <img src="../Pictures/UserDefault-icon.png" alt="Company Profile" class="company-logo">
        <span class="company-name">Company Name</span>
        <img src="../Pictures/PencilEdit-icon.png" alt="Edit Icon" class="edit-icon">
    </div>

    <div class="template-container">
        <div class="content-wrapper">
            <div class="content-container">
                <div id="Schedule"></div>
            </div>
            <div class="content-container">
                <div id="ScheduleList"></div>
            </div>
            <div class="content-container">
                <div id="Calendar"></div>
                <div class="button-container">
                    <button class="add-festive">Add festive</button>
                    <button class="remove-festive">Remove festive</button>
                </div>
            </div>
        </div>
    </div>

    <div class="template-container">
        <div class="content-wrapper">
            <div class="content-container">
                <div id="Service"></div>
            </div>
            <div class="content-container">
                <div id="ServiceList"></div>
            </div>
        </div>
    </div>

    <div class="template-container">
        <div id="AboutYou"></div>
    </div>

    <div class="template-container">
        <div id="Location"></div>
    </div>

    <a href="CompanyMain.html">
        <button id="save-changes">Save changes</button>
    </a>
</div>

<footer id="main_footer"></footer>
</body>
</html>
