<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Reservations</title>

  <!-- CSS index -->
  <link rel="stylesheet" href="../CSS/Reservation_Phone.css" />

  <!-- JS index -->
  <script src="../JS/Reservation_Phone.js" defer></script>
</head>
<body>

<main class="reservations-page">
  <header class="section-title">
    <h1>Reservations</h1>
  </header>

  <section class="search-section">
    <input type="search" placeholder="Search by service" aria-label="Search reservations">

    <div class="recent-searches">
      <p>Last time you search</p>
      <div class="search-stories"></div>
      <button id="reset-filter">Show All</button>
    </div>


  </section>

  <section class="reservations-list">
    <!-- Tarjetas de reservas cargadas dinámicamente -->
  </section>
</main>

</body>
</html>
