<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/TitleAndTextStyles.css">
  <title>About You</title>
</head>
<body>
<div class="container">
  <h1>About you
    <img src="../Pictures/PencilEdit-icon.png" alt="Edit" class="edit-icon" id="edit-icon">
  </h1>
  <div class="editable-area">
    <div id="editable-text" contenteditable="false" class="text-area">Click the pencil to edit this text.</div>
  </div>
</div>

<script src="../JS/AboutYouEditScript.js"></script>
</body>
</html>