<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../CSS/styleHeader1.css">
</head>
<body>
<header>
  <div class="logo">
    <img src="../Pictures/logo.png" alt="Logo de la empresa">
  </div>
  <div class="search-container">
    <input type="text" placeholder="Buscar comercio...">
    <input type="text" placeholder="Donde se encuentra...">
  </div>
  <div class="auth-buttons">
    <button class="login">Inicio de sesión</button>
    <button class="register">Registrarse</button>
  </div>
</header>
</body>
</html>
