<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="../CSS/ListStyles.css">
</head>
<body>
<div class="list-container">
    <div class="list-item light">
        <img src="../Pictures/UserDefault-icon.png" alt="User Image" class="user-image">
        <p><strong>User name 1</strong>, Book a 2pm haircut</p>
    </div>
    <div class="list-item dark">
        <img src="../Pictures/UserDefault-icon.png" alt="User Image" class="user-image">
        <p><strong>User name 2</strong>, Book a 2:30 pm haircut</p>
    </div>
</div>
</body>
</html>


