<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="../CSS/styleLocation.css">  <!-- Ruta corregida -->
</head>
<body>
<!-- Incluir el Header -->
<div xlu-include-file="Header1.html"></div>

<!-- Sección de Location -->
<section class="location">
    <h2>Location:</h2>
    <div class="location-box"></div>
</section>

<script src="../JS/script.js"></script> <!-- Si se necesita JS -->
</body>
</html>

