<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta de Reseña</title>
    <link rel="stylesheet" href="../CSS/styleReseña.css">
</head>
<body>

<div class="review-card">
    <img src="../Pictures/img.png" alt="Foto de usuario" class="profile-image">
    <p class="text">Lorem ipsum dolor sit amet consectetur, adipiscing elit tristique netus arcu, dignissim aliquam orci magna.</p>
    <div class="stars">★★★★☆</div>
    <p class="name">Company Name</p>
    <p class="role">Type</p>
</div>

</body>
</html>
