<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Cuenta</title>
</head>
<body>
<h1>Tu Cuenta</h1>
<p><strong>Hola,</strong><br> Nombre y apellidos</p>
<h2>📍 Location:</h2>
<h3>Servicios destacados</h3>
<h3>Promociones hoy</h3>
<h3>Lo visitaste hace poco</h3>

<h3>ℹ️ Información Personal</h3>
<p>En esta sección, puedes administrar y actualizar tus datos básicos en la plataforma.</p>

<h3>📜 Historial de Reservas</h3>
<p>Aquí encontrarás detalles sobre tus reservas pasadas, activas y futuras.</p>

<h3>⚙️ Administrar Cuenta</h3>
<p>Cambiar la configuración de seguridad y personalizar ajustes.</p>
</body>
</html>
