<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Reserva</title>
</head>
<body>
<div>
  <div>
    <input type="text" placeholder="Buscar">
    <button>Buscar</button>
    <span>Perfil</span>
  </div>
  <div>
    <h2>Complete Su Reserva</h2>
    <p>Elija las opciones disponibles a continuación:</p>
  </div>
  <div>
    <h3>Fechas Disponibles:</h3>
    <input type="date">
  </div>
  <div>
    <h3>Elegir Servicio:</h3>
    <button>Opción 1</button>
    <button>Opción 2</button>
    <button>Opción 3</button>
    <button>Opción 4</button>
  </div>
  <div>
    <button>Reservar</button>
  </div>
  <div>
    <h3>Contacto:</h3>
    <p>Teléfono: +34 666 666 666</p>
    <p>E-mail: contacto@reserfy.es</p>
  </div>
</div>
</body>
</html>
