<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Cliente</title>
</head>
<body>
<div>
    <div>
        <input type="text" placeholder="Buscar">
        <button>Buscar</button>
        <span>Perfil</span>
    </div>
    <div>
        <h2>Tu Cuenta</h2>
        <p>Hola, Nombre y apellidos</p>
    </div>
    <div>
        <p>Buscando servicios en: "Ubicación"</p>
    </div>
    <div>
        <p>Servicios destacados</p>
    </div>
    <div>
        <p>Promociones hoy</p>
    </div>
    <div>
        <p>Lo visitaste hace poco</p>
    </div>
    <div>
        <h3>Información Personal</h3>
        <p>Datos personales, historial y configuración.</p>
    </div>
    <div>
        <h3>Historial de Reservas</h3>
        <p>Consulta tus reservas pasadas y futuras.</p>
    </div>
    <div>
        <h3>Administrar Cuenta</h3>
        <p>Configura seguridad y preferencias.</p>
    </div>
    <div>
        <h3>Contacto:</h3>
        <p>Teléfono: +34 666 666 666</p>
        <p>E-mail: contacto@reserfy.es</p>
    </div>
</div>
</body>
</html>
