<footer>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo de la empresa" />
  </div>

  <div class="contact-info">
    <p><strong>Contacto:</strong></p>
    <p>Teléfono: <a href="tel:+34666666666">+34 666 666 666</a></p>
    <p>
      E-mail:
      <a href="mailto:contacto@empresa.com">contacto&#64;empresa.com</a>
    </p>
  </div>

  <div class="social-media">
    <a href="https://www.facebook.com/tuempresa" target="_blank">
      <img src="assets/facebook.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/tuempresa" target="_blank">
      <img src="assets/instagram.png" alt="Instagram" />
    </a>
    <a href="https://twitter.com/tuempresa" target="_blank">
      <img src="assets/twitter.png" alt="Twitter" />
    </a>
    <a href="https://www.linkedin.com/company/tuempresa" target="_blank">
      <img src="assets/linkedin.png" alt="LinkedIn" />
    </a>
  </div>
</footer>
