<header class="logged-header">
  <div class="logo">
    <img src="/logo.png" alt="Logo de la empresa">
  </div>
  <div class="search-container">
    <input type="text" placeholder="Search...">
  </div>
  <div class="user-info">
    <span class="username">{{ userName ? userName : 'Cargando...' }}</span>
    <div class="dropdown">
      <img class="profile-pic" src="/UserDefault-icon.png" alt="Imagen de perfil">
      <div class="dropdown-menu">
        <a *ngIf="isInCompanyMain" (click)="navigateTo('/manage-company')" style="cursor: pointer;">Manage company</a>
        <a (click)="logout()" style="cursor: pointer;">Log out</a>
      </div>
    </div>
  </div>
</header>
