<header class="logged-header">
  <div class="container">
    <div class="logo">
      <a routerLink="/index">Reserly</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/index">Home</a></li>
        <li><a routerLink="/search">Search</a></li>
        <li *ngIf="isInCompanyMain"><a routerLink="/manage-company">Manage Company</a></li>
      </ul>
    </nav>
    <div class="profile">
      <div class="profile-pic">
        <img src="/Pictures/UserDefault-icon.png" alt="Profile Picture">
      </div>
      <div class="dropdown">
        <div class="dropdown-content">
          <span class="user-name">{{ userName ? userName : 'Cargando...' }}</span>
          <a routerLink="/manage-company">Manage Company</a>
          <a (click)="navigateTo('/index')">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
