<header>
  <div class="logo">
    <img src="/assets/logo.png" alt="Logo de la empresa">
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search...">
  </div>

  <div class="user-info">
    <span class="username">User name</span>
    <div class="dropdown">
      <img class="profile-pic" src="/assets/UserDefault-icon.png" alt="Imagen de perfil">
      <div class="dropdown-menu">
        <a href="/manage-company">Manage company</a>
        <a href="/tus-reservas">Make a reservation</a>
        <a href="/login">Log out</a>
      </div>
    </div>
  </div>
</header>
