<app-logged-header class="Header"></app-logged-header>
<main>
  <div class="company-profile">
    <img src="/UserDefault-icon.png" alt="Company Profile" class="company-logo">
    <span class="company-name">Company Name</span>
  </div>

  <div class="content-wrapper">
    <div class="content-container">
      <app-calendar></app-calendar>
      <div class="separator"></div>
      <app-list class="ReservationList"></app-list>
    </div>
  </div>
  <div class="information-container">
    <div class="info-header">
      <img src="/Info-icon.png" alt="Information" class="info-icon">
      <span class="info-title">Manage account</span>
    </div>
    <p class="info-description">
      Here you can modify service prices, schedules, account name, business type.
    </p>
  </div>
</main>
<app-footer></app-footer>
