* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
}

.company-profile {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 20px;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  justify-content: left;
  text-align: left;
  margin: 6%;
  margin-left: 13%;
}

.company-logo {
  width: 10em;
  /* height: 80px; */
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.company-name {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: white;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  gap: 7em;
  flex-direction: row;
}

/* Ajuste para el separador */
.separator {
  width: 3px;
  background-color: #ccc;
  height: auto;
  display: block;
  margin: 0 10px;
}

/* Información */
.information-container {
  background-color: rgba(128, 128, 128, 0.4);
  padding: 4em;
  border-radius: 10px;
  /* width: 100%; */
  /* max-width: 800px; */
  margin-top: 9em;
  text-align: center;
}

.info-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.info-icon {
  width: 3em;
  /* height: 50px; */
  border-radius: 50%;
  /* object-fit: cover; */
}

.info-title {
  font-size: 2em;
  font-weight: bold;
}

.info-description {
  font-size: 16px;
  margin-top: 10px;
  /* max-width: 600px; */
  color: #d5c4c4;
  font-weight: bold;
  /* align-items: center; */
}

footer {
  width: 100%;
  background-color: #23334a;
  text-align: center;
  padding: 10px;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .separator {
    display: none;
  }

  h1 {
    font-size: 1.5em;
  }

  #Calendar, #ReservationsList {
    width: 100%;
    margin-top: 3em;
  }

  .company-profile {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin: 0%;
    margin-top: 6%;
  }

  .company-logo {
    width: 6em;
  }

  .company-name {
    font-size: 2em;
  }

}

@media screen and (max-width: 400px) {
  .company-profile {
    display: none;
  }

  .info-title {
    font-size: 20px;
  }

  .info-description {
    font-size: 14px;
  }

  .content-container {
    justify-content: center;
  }

  #Calendar, #ReservationsList {
    width: 100%;
    min-width: auto;
  }
}
