* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #23334a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap;
}

.logo img {
  height: 50px;
}

.search-container {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
  color: transparent;
  flex-wrap: wrap;
}

.search-container input {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
  font-weight: bold;
  text-align: center;
}

.search-container input::placeholder {
  color: rgb(255, 255, 255);
}

.auth-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.auth-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login {
  background-color: #4FC3F7;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.register {
  background-color: #4FC3F7;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login:hover {
  background-color: #0097a7;
}

.register:hover {
  background-color: #0097a7;
}

@media (max-width: 1024px) {
  header {
    padding: 10px;
  }
  .search-container input {
    max-width: 250px;
  }
  .auth-buttons {
    gap: 5px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    height: 100px;
  }
  .logo img {
    display: none;
  }
  .search-container {
    width: auto;
    justify-content: flex-start; /* Alinea el buscador a la izquierda */
    padding: 0;
  }

  .search-container input {
    width: 250px; /* Ajusta el tamaño del input */
    max-width: 250px;
  }

  .auth-buttons {
    width: auto;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    display: flex;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .logo img {
    display: none;
  }
  .search-container {
    justify-content: flex-start;
    width: auto;
  }

  .search-container input {
    width: 200px; /* Ajusta el tamaño del input en pantallas más pequeñas */
  }

  .auth-buttons {
    justify-content: flex-end;
    width: auto;
  }
}
