<app-logged-header></app-logged-header>

<main>
  <section class="account-header">
    <div class="account-col">
      <div class="profile-image">
        <img src="assets/UserDefault-icon.png" alt="Profile Image" />
      </div>
      <div class="account-info">
        <h1>Your Account</h1>
        <p>
          <strong>Hello,</strong><br />
          {{userName}}
        </p>
      </div>
    </div>

    <div class="account-col">
      <button style="width: 100%" (click)="editingUser = !editingUser">{{editingUser ? 'Cerrar' : 'Editar Cuenta' }}</button>
    </div>

  </section>

  @if(editingUser){
    <section class="account-edit">
      <input [formControl]="userControl" placeholder="Nombre de usuario" type="text">
      <button (click)="editUser()">Editar</button>
      <button class="danger" (click)="deleteUser()">Eliminar</button>
    </section>
  }

  <section>
    <div class="template-container">
      <h2>Location</h2>
      <img src="assets/Map.PNG" alt="map" />
    </div>
  </section>

  <section class="highlights">
    <div class="highlight-item">
      <h3>Featured Services</h3>
      <div class="image-box"></div>
    </div>
    <div class="highlight-item">
      <h3>Today's Promotions</h3>
      <div class="image-box"></div>
    </div>
    <div class="highlight-item">
      <h3>Recently Visited</h3>
      <div class="image-box"></div>
    </div>
  </section>

  <section class="manage-account">
    <div class="account-option">
      <h3>Personal Information</h3>
      <p>Manage and update your details on the platform.</p>
    </div>
    <div class="account-option">
      <h3>Booking History</h3>
      <p>View details about your past, active, and future reservations.</p>
    </div>
    <div class="account-option">
      <h3>Manage Account</h3>
      <p>Configure security settings and customize options.</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
