<app-logged-header class="Header"></app-logged-header>

@if (servicio) {
<div class="detalle">
  <img [src]="servicio.img" [alt]="servicio.name" />

  <p class="title">{{ servicio.name }}</p>

  <p class="price">Precio: {{ servicio.price }}€</p>

  <p>{{ servicio.description }}</p>

  <div class="buttons">
    <div class="favorite-section">
      <label for="favoriteToggle">Favorito</label>
      <ion-toggle
        id="favoriteToggle"
        (ionChange)="changeFavorite($event)"
        [checked]="servicio.isFavorite">
      </ion-toggle>
    </div>
    <button (click)="back()">Regresar</button>
  </div>
</div>
}

<app-footer></app-footer>
