body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A252F; /* Azul oscuro */
    color: white;
}

main {
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

/* Sección del título */
.reservation-header {
    text-align: center;
    padding: 40px 20px;
    background-color: #2C3E50;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
}

/* Contenedor de formulario */
.reservation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.date-selection,
.service-selection {
    background-color: #223344;
    border-radius: 12px;
    padding: 20px;
    color: white;
    min-width: 250px;
    width: 40%;
    box-sizing: border-box;
}
/* Contenedor de calendario */
.calendar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.calendar {
    background-color: #111a22;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    background-color: #34495E;
    border: none;
    color: white;
    border-radius: 5px;
}

/* Botones */
.service-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.service-button:hover {
    background-color: #1F2D3D;
}

/* Botón de reservar */
.reservation-submit {
    text-align: center;
    margin-top: 20px;
}

.reserve-button {
    width: 200px;
    padding: 15px;
    background-color: #16202A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.reserve-button:hover {
    background-color: #34495E;
}

/* Estilos del footer */
footer {
    background-color: #16202A;
    padding: 20px;
    text-align: center;
}

/* Responsive para tablets */
@media (max-width: 900px) {
    .date-selection,
    .service-selection {
        width: 80%;
    }
}

/* Responsive para móviles */
@media (max-width: 600px) {
    .date-selection,
    .service-selection {
        width: 100%;
    }
}