* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f0f0f0; /* Color de fondo general */
}

.custom-footer {
    width: 100%; /* Ocupa todo el ancho */
    height: 80px; /* Altura ajustable según preferencia */
    background-color: #23334a; /* Color azul */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-bottom: 2px solid white; /* Línea blanca debajo del texto */
    padding-bottom: 5px;
}
