body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #23334a;
    padding: 10px 20px;
    position: relative; /* Necesario para posicionar el logo */
    z-index: 5;
}

.logo img {
    width: 120px;
    height: auto;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.icon img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.search-container {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fija el contenedor respecto a la ventana completa */
    top: 25px; /* Centrado en la parte superior de la pantalla */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar el contenedor */
    padding: 5px;
    border-radius: 5px;
    z-index: 10; /* Asegura que el buscador esté por encima de otros elementos */
    width: 300px; /* Puedes ajustar el tamaño según prefieras */
}

.search-container input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Desenfoque para un efecto más elegante */
    color: white; /* Color del texto */
    outline: none;
}

.search-container input::placeholder {
    color: white;
}


.search-icon {
    cursor: pointer; /* Para que el cursor cambie al hacer hover sobre el icono */
}

.search-container.show {
    display: block; /* Cuando se activa la clase 'show', se muestra el campo de búsqueda */
    color: white;
}

.menu-container {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.menu-container a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.show {
    display: block !important;
}
