body{
    background-color: #3a4b5c;
}

.article {
    flex: 1 1 200px;
    padding: 10px;
    box-sizing: border-box;
}

.main_content {
    background-color: #3a4b5c;
}
.header_valoracion{
    color: white;
}
.Imagen_Principal {
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen_Principal img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Usa "cover" si prefieres que llene el espacio sin distorsionarse */
    display: block;
}


.Informacion {
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #1b2a41;
}

.Valoracion {
    background-color: #1b2a41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden; /* Evita que se desborde el contenido */
}

.article-container {
    display: flex;
    flex-wrap: nowrap; /* No permitir salto de línea */
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

/* Ocultar barra de desplazamiento en navegadores */
.article-container::-webkit-scrollbar {
    display: none;
}

.article {
    min-width: 300px;
    flex-shrink: 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botones de desplazamiento */
.scroll-left, .scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.scroll-left {
    left: 10px;
}

.scroll-right {
    right: 10px;
}

