.article {
    flex: 1 1 200px;
    padding: 10px;
    box-sizing: border-box;
}

.main_content {
    background-color: #3a4b5c;
}

.Imagen_Principal {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Imagen_Principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.Informacion {
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #1b2a41;
}

.Valoracion {
    background-color: #1b2a41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.Informacion h1, .Valoracion h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    background-color: #1b2a41;
}

@media (max-width: 1024px) {
    .Imagen_Principal {
        height: 70vh;
    }
    .Informacion, .Valoracion {
        padding: 30px;
        margin: 30px auto;
    }
}

@media (max-width: 768px) {
    .Imagen_Principal {
        height: 50vh;
    }
    .Informacion, .Valoracion {
        padding: 20px;
    }
    .article-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .Imagen_Principal {
        height: 40vh;
    }
    .Informacion, .Valoracion {
        padding: 15px;
        margin: 20px auto;
    }
    .Informacion h1, .Valoracion h1 {
        font-size: 1.5rem;
    }
}