/* Establecer el body con flexbox para organizar el formulario y la imagen */
body {
    padding: 0;
    margin: 0;
    overflow: hidden; /* Elimina el scroll */
}

#Formulario{
    width: 50%;
    height: 100vh;
    align-content: center;
}


/* Estilo para la imagen */
.ImagenInicio {
    position: absolute; /* La imagen estará en el fondo */
    top: 0;
    right: 0;
    width: 50%; /* La imagen ocupa la mitad derecha */
    height: 101vh; /* La imagen ocupa todo el alto de la pantalla */
    z-index: 0; /* La imagen estará detrás del formulario */
}

.ImagenInicio img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el área sin distorsionarse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Media query para pantallas más pequeñas (tabletas y móviles) */
@media (max-width: 1024px) {
    /* La imagen ocupa todo el ancho y alto del fondo */
    .ImagenInicio {
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    #Formulario {
        position: absolute;
        width: 100%;
        height: 800px;
        z-index: 1;
        align-items: center;
    }
}

/* Media query para pantallas de teléfonos móviles más pequeños */
@media (max-width: 768px) {
    .ImagenInicio {
        width: 100%;
    }
}

/* Media query para pantallas extremadamente pequeñas */
@media (max-width: 480px) {
    #Formulario {
        height: 50em;
    }
}