body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.Formulario {
    flex: 1;
    padding: 20px;
}

.ImagenInicio {
    width: 50%;
    height: 100vh;
}

.ImagenInicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}