.location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1F2D3D;
    margin: 20px;
    border-radius: 8px;
}

.location h2 {
    margin: 0;
    font-size: 1.8em;
    color: white;
    padding-right: 15px;
}

/* styleLocation.css */
.location-box {
    width: 100%; /* 100% de ancho para ocupar el contenedor */
    height: 500px; /* Asigna un alto fijo para el mapa */
    background-color: #f4f4f4; /* Color de fondo por si algo sale mal */
    border-radius: 5px;
    position: relative;
}

#map {
    width: 100%; /* Asegura que el mapa ocupe todo el ancho disponible */
    height: 100%; /* El mapa ocupará toda la altura disponible de .location-box */
    border-radius: 5px;
}
